<section class="login-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <form class="md-float-material form-material" (ngSubmit)="signUpWithEmailPassword()" method="POST">
          <div class="auth-box card">
            <div class="card-block">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="text-center heading">Create your account. <h5> It&rsquo;s free and only takes a minute.</h5> </h3>
                </div>
              </div>
              <div class="form-group form-primary">
                <input type="text" class="form-control" name="userName" [(ngModel)]="userName" placeholder="Username" id="displayName">
              </div>
              <div class="form-group form-primary">
                <input type="text" class="form-control" name="email" [(ngModel)]="email" placeholder="Email" id="email">
              </div>
              <div class="form-group form-primary">
                <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Password" id="password">
              </div>
              <div class="form-group form-primary">
                <input type="password" class="form-control" name="password_confirm" placeholder="Repeat password" id="password_confirm">
              </div>
              <div class="form-group form-primary">
                <input type="phone" class="form-control" name="phone" placeholder="phone" id="phone">
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" name="submit" value="Signup Now">
                </div>
              </div>
              <div class="or-container">
                <div class="line-separator"></div>
                <div class="or-label">or</div>
                <div class="line-separator"></div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <a class="btn btn-lg btn-google btn-block text-uppercase btn-outline" (click)="signInWithGoogle()">
                    <img src="https://img.icons8.com/color/16/000000/google-logo.png"> Signup Using Google
                  </a>
                </div>
              </div>
              <br>
              <p class="text-inverse text-center">Already have an account? <a routerLink="/login" class="text-inverse" data-abc="true">Login</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
